nav {
	height: 2em;
	background-color: lightgreen;
	padding: 1em;
}


nav li, nav h2{
	float: left;
	display: block;
	padding: 1em;
	padding-top: 0.5em;
}

nav h2 {
	font-size: 2.5em;
	margin-top: -1em;
}

aside div {
	padding: 0.5em;
	background-color: lightgrey;
}

aside ul, aside h3{
	margin: 0em 0.5em 0em 0.5em;
	padding: 0.5em;
}

aside ul {
	background-color: white;
}

aside h3{
	background-color: lightgreen;
}

aside div li {
	display: block;
	padding: 0.5em;
}

img {
	height: 10em;
	width: 10em;
}

#container {
	position: relative;
}

#asideLeft {
	position: absolute;
	left: 0em;
 	top: 0;
	width: 15em;
}

#asideLeft div{
	margin: 0.5em 0.5em 0.5em 0em;
}

#asideRight {
	position: absolute;
	right: 0em;
 	top: 0;
 	width: 15em;
}

#asideRight div{
	margin: 0.5em 0em 0.5em 0.5em;
}

#main {
	margin-left: 15em;
	margin-right: 15em;
}

#about img {
	float: right;
	margin-top: -2em;
	position: static;
}

#education {
	border-top: solid 1px black;
	margin-top: 10em;
}