html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, strong,, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, header, hgroup, 
menu, nav, section, mark, label, form{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}