/**********elements***************/

body {
	text-align: center;
}

header {
	width: 40%;
	background-color: red;
	color: white;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin: auto;
}

table{
	width: 40%;
}

thead th{
	background: grey;
	text-decoration: bold;
}

img {
	border-radius: 20%;
}

/**********IDs***************/

#main-table, td{
	border: black 1pt solid;
	margin: 0px auto;
}

/**********classes***************/
.nested-table {
	margin: 0px auto;
}

